/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Links
:: Lists
:: Tables
:: Misc
*/


/*	--------------------------------------------------
	:: Body Styles
	-------------------------------------------------- */
	body 	{
			background:#f9f9f9;
			}
	.thin 				{font-weight:100;}
	.thick 				{font-weight:700;}

/*	--------------------------------------------------
	:: Content Block Styles
	-------------------------------------------------- */
	
	.navbar a				{
							margin:0 auto;
							padding:54px 0 54px 10px;
							width:36px;
							display:block;
							float:none;
							}
	.shape 					{position:relative;}
	.shape a 				{
							color:#313131;
							font-family: "futura-pt", "Helvetica Neue", Helvetica, sans-serif;
							font-style: normal;
							font-weight: 700;
							font-size:3.6rem;
							text-align:center;
							}
/*  Sphere & Design/Build  */
	.sphere 				{
							background:url('../images/sprite-sphere.png') center -476px no-repeat, #f9f9f9;
							background-origin:border;
							overflow:hidden;
							display:block;
							height:414px;
							transition:all 0.5s ease;
							-moz-transition:all 0.5s ease;
							-webkit-transition:all 0.5s ease;
							-o-transition:all 0.5s ease;
							}
	.sphere:hover			{
							background:url('../images/sprite-sphere.png') center 100px no-repeat, #126fee;
							}
	.sphere h4				{padding-left:20px;color:#f3f3f3;}
	.sphere > h4 			{padding-top:18px;}
	.sphere > h4.name 		{padding-top:268px;}
	.design					{
							padding-top:425px;
							overflow:hidden;
							display:block;
							transition:all 0.2s ease;
							-moz-transition:all 0.2s ease;
							-webkit-transition:all 0.2s ease;
							-o-transition:all 0.2s ease;
							}
	.design:hover 			{padding-top:380px;}

/*  Pyramid & Profile  */
	.pyramid 				{
							background:url('../images/sprite-pyramid.png') center -476px no-repeat, #f9f9f9;
							background-origin:border;
							overflow:hidden;
							display:block;
							height:414px;
							transition:all 0.5s ease;
							-moz-transition:all 0.5s ease;
							-webkit-transition:all 0.5s ease;
							-o-transition:all 0.5s ease;
							}
	.pyramid:hover			{
							background:url('../images/sprite-pyramid.png') center 100px no-repeat, #10db22;
							}
	.pyramid h4				{padding-left:20px;color:#f3f3f3;}
	.pyramid > h4 			{padding-top:18px;}
	.pyramid > h4.name 		{padding-top:268px;}
	.profile				{
							padding-top:425px;
							overflow:hidden;
							display:block;
							transition:all 0.2s ease;
							-moz-transition:all 0.2s ease;
							-webkit-transition:all 0.2s ease;
							-o-transition:all 0.2s ease;
							}
	.profile:hover 			{padding-top:380px;}

/*  Cube & Contact  */
	.cube 					{
							background:url('../images/sprite-cube.png') center -476px no-repeat, #f9f9f9;
							background-origin:border;
							overflow:hidden;
							display:block;
							height:414px;
							transition:all 0.5s ease;
							-moz-transition:all 0.5s ease;
							-webkit-transition:all 0.5s ease;
							-o-transition:all 0.5s ease;
							}
	.cube:hover				{
							background:url('../images/sprite-cube.png') center 100px no-repeat, #f71e12;
							}
	.cube h4				{padding-left:20px;color:#f3f3f3;}
	.cube > h4 				{padding-top:18px;}
	.cube > h4.name 		{padding-top:268px;}
	.contact				{
							padding-top:425px;
							overflow:hidden;
							display:block;
							transition:all 0.2s ease;
							-moz-transition:all 0.2s ease;
							-webkit-transition:all 0.2s ease;
							-o-transition:all 0.2s ease;
							}
	.contact:hover 			{padding-top:380px;}


