/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/*	--------------------------------------------------
	:: Navigation Styles
	-------------------------------------------------- */
	nav 				{margin-left:0 !important;}
	nav ul li  			{list-style:none;float:left;}
	nav ul li a 		{
							font-family: "futura-pt", "Helvetica Neue", Helvetica, sans-serif;
							font-weight:300;
							font-size:16px;
							font-size:1.6rem;
							line-height:54px;
							letter-spacing:1px;
							color:#a1a3a5;
							text-decoration:none;
						}
	nav ul li a:hover 	{
							color:rgba(11,13,15,0.90);
							text-decoration:none;
						}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

	body 				{background:#f3f6f9;}
	header 				{padding:36px 0 18px;}
	section > div 		{margin-left:23.94% !important;}
	footer 				{padding:18px 0 54px;}
	footer > .island > div 	{margin-left:23.94% !important;padding-top:36px;border-top:3px solid #232323;}
	footer a 			{font-weight:700;color:#a1a3a5;}
	
	.island.a 			{padding-top:36px;}
	.island.b 			{padding-top:18px;}

/* --------------------------------------------------
   Misc Styles
-------------------------------------------------- */

	.thin 				{font-weight:100;}
	.thick 				{font-weight:700;}
	.active 			{color:rgba(11,13,15,0.90);}
	.inactive 			{text-decoration:line-through;cursor: default;}
	.inactive:hover 	{text-decoration:line-through;cursor: default;}

	.well 				{padding:18px 10px;}
	.well-deep 			{padding:18px 20px;}
	.well-right 		{padding:36px 10px 0 0;}
	.well-left 			{padding:18px 0 0 10px;}

/* -----------------------------------------
   Index Styles
----------------------------------------- */
	
	#intro 				{padding-top:36px;}
	#intro hgroup 		{padding-bottom:72px;}
	#intro h1 			{display:inline-block;line-height:1em;color:#333537;}
	#intro p 			{font-size:13px;font-size:1.3rem;font-weight:300;line-height:1.5em;color:#9da0a3;}
	#intro p a 			{border-bottom:2px solid #2799ef;}

/* -----------------------------------------
   Work
----------------------------------------- */

	.block-grid li 		{position:relative;}
	.block-grid li a 	{font-weight:700;}
	.hover-info 		{
							position:absolute;
							top:0; left:0; right:0;
							width:100%;height:100%;
							background:#333;
							overflow:hidden;
						}
	.hover-info a 		{padding:36px 20px 10px;background:#212426;color:#f3f6f9;font-weight:500;display:block;width:100%;height:100%;}
	.hover-info a p 	{font-weight:500;}
	.hover-info a p + p {margin-top:-18px;font-weight: 300;}


/* -----------------------------------------
   Projects
----------------------------------------- */
	
	#project-slide div	{margin-left: 0 !important;}

	#project-info 		{margin-top: -18px;}
	.project-description								{padding-bottom:18px;border-bottom:1px solid #ccc;}
	.project-description p 								{margin-bottom:0;}
	.description,
	.meta 				{padding-top:18px;border-top: 1px solid #ccc;}

	#project-nav 		{padding-top: 36px;}
	#project-nav .block-grid.three-up > li:first-child 	{background:#f3f6f9;color:#333;}
	#project-nav .block-grid.three-up > li 				{color:#f3f6f9;}
	#project-nav .block-grid.three-up li div ul 		{margin-left:0 !important;}

/* -----------------------------------------
   Profile
----------------------------------------- */
	
	#hello 				{margin-bottom:-1px;background:url('../images/profile-photo.jpg') 600px bottom no-repeat;height:504px;}
	#hello > div 		{padding-top:36px;}
	#hello p 			{max-width:380px;}
	
	#services .content 	{padding:36px 0 36px; border-top:1px solid #ccc;}
	#services .content > div > div 						{padding-top:18px;}
	#services .block-grid.three-up li 					{width:33.3%;}
	#services .shape-wrap								{background:rgba(11,13,15,0.95);position:relative;width:100%;height:241px;}
	#services .shape-wrap img							{padding:17% 0 0 17%;}

	.service-list 		{margin:18px 0 0 0;padding-top:18px;}
	.service-list li 	{margin-bottom:9px !important;width:100% !important;}
	.service-list li p:first-child {color:#434343;}
	.service-list li p 	{margin:0 !important;color:#555;}

	#values 			{height:376px;background:url('../images/bg-photo.jpg') center center no-repeat;}
	#values > div > div {margin-left:6%;}
	#values hgroup 		{padding-top:82px;}
	#values hgroup h3 	{color:#f3f6f9;}

/* -----------------------------------------
   Contact
----------------------------------------- */
	
	a.email 			{
							font-size: 24px;
							font-size: 2.4rem;
							margin-bottom: 12px;
							font-family: "futura-pt", "Helvetica Neue", Helvetica, sans-serif;
							font-weight:500;
							line-height:54px;
							color:rgba(11,13,15,0.90);
							border-bottom:3px solid rgba(11,13,15,0.90);
						}
	a.email:hover 		{color:#2799ef;border-bottom:3px solid #2799ef;}
	
	#other 				{padding-top:90px;}
	#other .head 		{padding-top:18px;}
	#other a 			{color:#f3f6f9;}
	#other a:hover 		{text-decoration:underline;}
	#other .block-grid.three-up > li:first-child 			{background:#f3f6f9;color:#333;}
	#other .block-grid.three-up > li 						{background:rgba(11,13,15,0.95);color:#f3f6f9;height:241px;}
	#other .block-grid.three-up li div ul 					{margin-left:0 !important;}



