/* Breadcrumbs */
.breadcrumbs {
  display: block;
  padding: 0.5625em 0.875em 0.5625em;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #adb3b9;
  border-color: #9199a1;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .breadcrumbs > * {
    margin: 0;
    float: left;
    font-size: 0.6875em;
    text-transform: uppercase;
    color: #65c8d0; }
    .breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
      text-decoration: underline; }
    .breadcrumbs > * a,
    .breadcrumbs > * span {
      text-transform: uppercase;
      color: #65c8d0; }
    .breadcrumbs > *.current {
      cursor: default;
      color: #333333; }
      .breadcrumbs > *.current a {
        cursor: default;
        color: #333333; }
      .breadcrumbs > *.current:hover, .breadcrumbs > *.current:hover a, .breadcrumbs > *.current:focus, .breadcrumbs > *.current:focus a {
        text-decoration: none; }
    .breadcrumbs > *.unavailable {
      color: #999999; }
      .breadcrumbs > *.unavailable a {
        color: #999999; }
      .breadcrumbs > *.unavailable:hover, .breadcrumbs > *.unavailable:hover a, .breadcrumbs > *.unavailable:focus,
      .breadcrumbs > *.unavailable a:focus {
        text-decoration: none;
        color: #999999;
        cursor: default; }
    .breadcrumbs > *:before {
      content: "/";
      color: #aaaaaa;
      margin: 0 0.75em;
      position: relative;
      top: 1px; }
    .breadcrumbs > *:first-child:before {
      content: " ";
      margin: 0; }

/* Labels */
.label {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #65c8d0;
  color: white; }
  .label.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .label.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  .label.alert {
    background-color: #f63c38;
    color: white; }
  .label.success {
    background-color: #13ffa4;
    color: white; }
  .label.secondary {
    background-color: #9fa6ad;
    color: white; }

/* Inline Lists */
.inline-list {
  margin: 0 auto 1.0625em auto;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375em;
    display: block; }
    .inline-list > li > * {
      display: block; }

/* Pagination */
.pagination {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em; }
  .pagination li {
    display: block;
    float: left;
    height: 1.5em;
    color: #222222;
    font-size: 0.875em;
    margin-left: 0.3125em; }
    .pagination li a {
      display: block;
      padding: 0.0625em 0.4375em 0.0625em;
      color: #999999; }
    .pagination li:hover a,
    .pagination li a:focus {
      background: #e6e6e6; }
    .pagination li.unavailable a {
      cursor: default;
      color: #999999; }
    .pagination li.unavailable:hover a, .pagination li.unavailable a:focus {
      background: transparent; }
    .pagination li.current a {
      background: #65c8d0;
      color: white;
      font-weight: bold;
      cursor: default; }
      .pagination li.current a:hover, .pagination li.current a:focus {
        background: #65c8d0; }

.pagination-centered {
  text-align: center; }
  .pagination-centered ul > li {
    float: none;
    display: inline-block; }

/* Side Nav */
.sub-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -0.25em 0 1.125em;
  padding-top: 0.25em;
  margin-right: 0;
  margin-left: -0.5625em; }
  .sub-nav dt,
  .sub-nav dd {
    float: left;
    display: inline;
    margin-left: 0.5625em;
    margin-bottom: 0.625em;
    font-weight: normal;
    font-size: 0.875em; }
    .sub-nav dt a,
    .sub-nav dd a {
      color: #999999;
      text-decoration: none; }
    .sub-nav dt.active a,
    .sub-nav dd.active a {
      -webkit-border-radius: 1000px;
      border-radius: 1000px;
      font-weight: bold;
      background: #65c8d0;
      padding: 0.1875em 0.5625em;
      cursor: default;
      color: white; }

/* Tooltips */
.has-tip {
  border-bottom: dotted 1px #cccccc;
  cursor: help;
  font-weight: bold;
  color: #333333; }
  .has-tip:hover, .has-tip:focus {
    border-bottom: dotted 1px #30969f;
    color: #65c8d0; }
  .has-tip.tip-left, .has-tip.tip-right {
    float: none !important; }

.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: black;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .tooltip > .nub {
    display: block;
    left: 5px;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent black transparent;
    top: -10px; }
  .tooltip.opened {
    color: #65c8d0 !important;
    border-bottom: dotted 1px #30969f !important; }

.tap-to-close {
  display: block;
  font-size: 0.625em;
  color: #888888;
  font-weight: normal; }

@media only screen and (min-width: 48em) {
  .tooltip > .nub {
    border-color: transparent transparent black transparent;
    top: -10px; }
  .tooltip.tip-top > .nub {
    border-color: black transparent transparent transparent;
    top: auto;
    bottom: -10px; }
  .tooltip.tip-left, .tooltip.tip-right {
    float: none !important; }
  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent black;
    right: -10px;
    left: auto;
    top: 50%;
    margin-top: -5px; }
  .tooltip.tip-right > .nub {
    border-color: transparent black transparent transparent;
    right: auto;
    left: -10px;
    top: 50%;
    margin-top: -5px; } }
@media only screen and (max-width: 767px) {
  .f-dropdown {
    max-width: 100%;
    left: 0; } }
/* Foundation Dropdowns */
.f-dropdown {
  position: absolute;
  top: -9999px;
  list-style: none;
  padding: 1.25em;
  width: 100%;
  height: auto;
  max-height: none;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px; }
  .f-dropdown *:first-child {
    margin-top: 0; }
  .f-dropdown *:last-child {
    margin-bottom: 0; }
  .f-dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent white transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 99; }
  .f-dropdown:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 7px;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    left: 9px;
    z-index: 98; }
  .f-dropdown.right:before {
    left: auto;
    right: 10px; }
  .f-dropdown.right:after {
    left: auto;
    right: 9px; }
  .f-dropdown li {
    font-size: 0.875em;
    cursor: pointer;
    line-height: 1.125em;
    margin: 0; }
    .f-dropdown li:hover, .f-dropdown li:focus {
      background: #eeeeee; }
    .f-dropdown li a {
      display: block;
      padding: 0.3125em 0.625em;
      color: #555555; }
  .f-dropdown.content {
    position: absolute;
    top: -9999px;
    list-style: none;
    padding: 1.25em;
    width: 100%;
    height: auto;
    max-height: none;
    background: white;
    border: solid 1px #cccccc;
    font-size: 16px;
    z-index: 99;
    max-width: 200px; }
    .f-dropdown.content *:first-child {
      margin-top: 0; }
    .f-dropdown.content *:last-child {
      margin-bottom: 0; }
  .f-dropdown.tiny {
    max-width: 200px; }
  .f-dropdown.small {
    max-width: 300px; }
  .f-dropdown.medium {
    max-width: 500px; }
  .f-dropdown.large {
    max-width: 800px; }
